@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

$color1: #40122c;
$color2: #656273;
$color3: #59baa9;
$color4: #d8f171;
$color5: #fcffd9;

$header-background: #40122c;
$footer-background: #40122c;

$font-primary: "Montserrat", sans-serif;
